/* .screen{

} */

.screen-border{
    padding: 1.5rem;
    padding-block-end: 2.75rem;
    background: var(--white);
    border-radius: .5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 2rem 100%, 0 calc(100% - 2.75rem));
    position: relative;
}

.screen-safeArea{
    padding: 1rem;
    background-color: #8DB9DC;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 10rem;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}


.group-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-primary{
inline-size: 1rem;
block-size: 1rem;
background-color: red;
border-radius:50%;
position: absolute;
bottom: 14px;
}

.button-secondary{
    inline-size: 1rem;
    block-size: 1rem;
    background-color: red;
    border-radius:50%;
    position: absolute;
    bottom: 14px;
    right: 200px;
}

/* .content-barra{

} */

.button-barra{
    inline-size: 1rem;
    block-size: 1rem;
    position: absolute;
    bottom: 14px;
    right: 30px;
}